/* ----------- Initialisation ---------- */

/* Imports */
@import "normalize.css";

/* Colors */
:root {
	/* primary */
	--primary50: #defff9;
	--primary100: #bdfff3;
	--primary200: #adfff0;
	--primary300: #9cffed;
	--primary400: #8bffea;
	--primary500: #7affe7;
	--primary600: #6be0cb;
	--primary700: #5cc0ae;
	--primary800: #4da091;
	--primary900: #3d8074;
}

/* Fonts */
@font-face {
	font-family: "Josefin Sans";
	src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
}

html {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: var(--primary900);
}

/* Body margin clear */
body {
	margin: 0;
	padding: 0;
}

/* Headings Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.25;
}

/* List Reset */
ol,
ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

/* Link Reset */
a {
	text-decoration: none;
	color: inherit;
	padding: 0.5em 1em;
	margin: -0.5em -1em;
	border-radius: 2em;
}

a:hover {
	background: var(--primary50);
	border: 2rem solid var(--primary-700);
}

a:focus {
	outline: none;
	border: 2rem solid var(--primary-700);
}

/* ----------- Styles ---------- */
/* Global */
.block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: white;
}

.block:nth-of-type(2n) {
	background-image: linear-gradient(
		0,
		white 0%,
		var(--primary50) 20%,
		var(--primary50) 30%,
		white 100%
	);
}

.wrapper {
	max-width: 1100px;
	margin: 2rem 0;
}

.title {
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	padding: 3rem;
	border-bottom: 0.5rem solid currentColor;
}
.subtitle {
	display: block;
	margin: 0.2rem 0 0 0;
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.4em;
}

.heading {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin: 3rem 0 0;
}

.subhead {
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: 0.04em;
	margin: 0 0 1rem;
	padding: 0 0 0.25rem;
}

.button {
	background: var(--primary900);
	color: white;
	padding: 0.75em 1em;
	margin: 0.5rem 0;
	border: 2px solid var(--primary900);
	border-radius: 0.5rem;
	text-align: center;
	outline: none;
}
.button:hover {
	background: var(--primary700);
}
.button:focus {
	background: var(--primary700);
	border: 2px solid var(--primary900);
}
.button:hover:focus {
	background: var(--primary900);
	border: 2px solid var(--primary700);
}


.badge {
	background: var(--primary700);
	color: white;
	font-size: 14px;
	font-weight: 700;
	border-radius: 1em;
	text-align: center;
	padding: 0.5em 0.5em 0.25em;
}
.alert {
	background: rgb(212, 98, 59);
}

/* Navbar */
header {
	position: fixed;
	z-index: 100;
	width: 100%;
	margin-top: -5rem;
	background: var(--primary900);
}
main {
	margin-top: 5rem;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 932px;
	margin: 0.5rem auto;
}
.logo {
	display: flex;
	flex-direction: column;
	border: 0.125em solid white;
	padding: 0.1rem 0.2rem;
	margin-left: 1rem;
	align-items: center;
	justify-content: center;
	border-radius: 0;
	text-transform: uppercase;
}
.logo-TD, .logo-MAC {
	color: white;
	text-align: center;
	font-weight: 700;
}
.logo-TD {
	margin: 0.1rem -0.2rem 0 0.2rem;
	letter-spacing: 0.3rem;
}
.logo-MAC {
	margin: -0.1rem 0;
}
.logo-md {
	display: none;
}
.menu-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0.5rem;
	padding: 0.5rem;
}
.burger {
	width: 2rem;
	height: 2rem;
	color: white;
	pointer-events: none;
}

/* Mobile Menu */
.mobile-nav {
	display: none;
}

.nav-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	width: 100%;
	margin-bottom: 2rem;
}
.nav-list-item{
	display: flex;
	box-sizing: content-box;
	align-items: center;
	justify-content: center;
	width: 100%;
	
}
.nav-list-link{
	display: flex;
	padding: 0.5rem;
	gap: 0.5rem;
	width:80%;
	border-radius: 0.25rem;
	background: var(--primary800);
	color: white;
	font-size: 1.5rem;
	
}
.nav-list-link-svg {
	height: 1em;
	width: 1em;
	color: inherit;
	pointer-events: none;
}
.desktop-menu {
	display: none;
}
.nav-list--desktop {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.25rem;
	margin-right: 1.5rem;
}
.nav-list-item-link--desktop {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0.5rem;
	margin: 0;
	border-radius: 0.25rem;
	background: var(--primary900);
	color: white;
	font-size: 1.5rem;
}

/* Projects */
.grid-container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3 minmax(100px,1fr));
	grid-template-areas:
	"project1"
	"project2"
	"project3";
	gap: 1rem;
	margin: 2rem 0.25rem;
	min-height: 80vh;
}

.grid-item_1 {
	grid-area: project1;
}
.grid-item_2 {
	grid-area: project2;
}
.grid-item_3 {
	grid-area: project3;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 300px;
	gap: 1rem;
	padding: 1em;
	border: 0.125em solid var(--primary900);
	border-radius: 1em;
	background: white;
	box-shadow: 0em 0em rgba(255, 255, 255, 1),
		-0.3em -0.3em 2em rgba(255, 255, 255, 0.25),
		0.3em -0.3em 2em rgba(255, 255, 255, 0.25),
		0em 0.5em 0.9em rgba(0, 0, 0, 0.05);
}
.card-img-wrapper{
	display: block;
}
.card-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	border-radius: 0.5rem;
}
.card-content {
	display: flex;
	flex-direction: column;
}
.card-head{
	margin-bottom: 0;
}
.card-tech {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 0.5rem 0;
}
.card-description {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	min-height: 100px;
}
/* About */
.about {
	margin-bottom: 3rem;
}
.about-content {
	max-width: 700px;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.about-heading {
	margin: 0;
	padding: 1rem 0 0;
}
.about-description {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.about-description>h4{
	font-size: 1.35rem;
	font-weight: 300;
	padding: 0.5rem 0 0;
}
.about-description>p {
	line-height: 1.5;
}

/* Contact */
.contact {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem 0;
	background-image: none;
	background: white;
    font-size: 0.8rem;
}

.contact_list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	gap: 1em;
}

.contact_item {
	display: block;
}

.contact_link {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contact_icon {
	width: 1.5rem;
	height: 1.5rem;
}

.contact_detail,
.contact_address {
	margin-left: 1em;
}

.contact_address {
	font-style: normal;
}

/* Footer */
footer {
	border-top: 0.25rem solid currentColor;
}

/* ----------- Media Queries ---------- */
/* small */
@media (min-width: 640px) {
	.title {
		font-size: 4rem;
	}
	.subtitle {
		font-size: 1.25rem;
		letter-spacing: 0.4em;
	}

	.heading {
		font-size: 2rem;
	}
	
	/* About */
	.about-heading {
		font-size: 1.5rem;
	}
	.about-description>p {
		font-size: 1.25rem;
	}


	/* Projects */
	.grid-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			"project1 project1"
			"project2 project3";
		gap: 1rem;
		max-width: 600px;
	}

	.grid-item_1 .card {
		flex-direction: row;
		max-width: 100%;
	}
	.grid-item_1 .card-img {
		width: 50%;
		height: 50%;
		margin: auto 0;
	}
	.card-description {
		min-height: 160px;
	}

	.contact_list {
		flex-direction: row;
		align-items: center;
		gap: 2em;
	}
}
/* medium */
@media (min-width: 786px) {
	/* Projects */
	.grid-container {
		max-width: 1200px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
			"project1 project2 project3";
		gap: 1rem;
	}
	.grid-item_1 .card {
		flex-direction: column;
		max-width: none;
	}
	.grid-item {
		max-width: 300px;
	}
	.grid-item_1 .card-img {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.logo {
		flex-direction: row;
		gap: 0.3rem;
		padding: 0.3rem;
		font-size: 1.5rem;
		height: 2rem;
		margin: 0.5rem 0.5rem 0.5rem 1rem;
	}
	.logo-TD, .logo-MAC {
		color: white;
		text-align: center;
		font-weight: 700;
		margin: 0.2rem 0 0;
	}
	.logo-TD {
		letter-spacing: normal;
	}
	.logo-md {
		display: inline;
	}
	.menu-button, .menu-open {
		display: none;
	}
	.desktop-menu {
		display:block;
	}
}
/* large */
@media (min-width: 1024px) {
}
/* x-large */
@media (min-width: 1280px) {
}
/* 2x-large */
@media (min-width: 1536px) {
}

/* Functional Classes */
.sr_only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.menu-open {
	display: flex;
}