<!-- /components/_socials.antlers.html -->
<ul class="flex gap-6 w-full items-center justify-center {{class}}">
    {{ company:socials }}
        <li class="{{type}}">
            <a
            {{ if type == "email" }}
                href="mailto:{{ email ?? company:email}}"
            {{ else }}
                href="{{ prefix }}{{ social_handle }}" target="_blank"
            {{ /if }}
                class="block p-2 -m-2 rounded-md hover:text-accent focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent"
            >
            <span class="sr-only">{{ type|replace('_',' ')|replace('-',' ') }}</span>
            {{# Icon #}}
            {{ partial:snippets/social_icon :socials_type="type" class="h-8 w-8 stroke-2 text-inherit pointer-events-none" }}
            
            </a>
        </li>
    {{ /company:socials }}
</ul>
<!-- End: /components/_socials.antlers.html -->